body{
    background-color:#fff;
    color:#000;
    font-family: Arial, Helvetica, sans-serif;
    margin:25px 25px 25px 25px;
    background-image: url('travel_background.jpg');
  
  }
  .container {
    display:flex;
    justify-content:space-between;
    align-items:center; 
  }
  #logo{
    border:none;
    padding:0 10px 0 10px;
    font-style:italic;
    font-size: 18pt;
  }
  #navbar li{
    display:inline-block;
  }
  #navbar a{
    text-decoration:none;
    font-size:18px;
    padding-right:25px;
  }

  #conditionInput {
    font-size: 10pt;
  }