body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display:flex;
    justify-content:space-between;
    align-items:center;  
  }

#mainHeader {
    
}

#main_title {
    padding: 0;
    font-style:italic;
    margin:auto;
    display: inline-block;
  }
nav {
    float: right;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #555;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: #a4c1dd;
}